@media screen
{
}
@media print 
{
    body
    {
        background-color: white;
	    color: black;
    }
    table, th, td
    {
        border: 1px solid black;
    }
    div.page 
    {
        margin: 0px;
        padding: 0px;
        width: 8.5in;
        height: 11in;
        clear: both;
        page-break-after: always;
    }
    div.footer 
    {
        position: absolute;
        bottom: 0.5in;
        left: 0.5in;
    }
}