body
{
	background-color: black;
	color: white;
}

#map 
{
    position:relative;
    z-index:0;
    height: 100%;
    width: 100%;

}
.btnGo
{
    clear:both;
    background-color:blue;
    height:64px;
    width:64px;
    border-radius:100%;

    text-align:right;
    font-size:1.25em;
    margin-top:2em;
}
.search_criteria p 
{
    margin:.75em 0 .1em 0;
    font-weight:bold;
    font-size:1.25em;
    font-family:sans-serif;
}

.search_criteria select
{
    width:50%;
    font-size:1em;
}

.image 
{
    background-color:yellow;
    height:32px;
    width:32px;
    border-radius:100%;
    color:orange;
}

.search_criteria em 
{
    font-size:70%;
}

.nycITT div, .nycDOE div
{
    float:left;
    width:32%;
    text-align:center;
    padding:1em 0;
    overflow:hidden;
}
#interest_area, #selection_method
{
    border-right: thin solid #cc6600;
}

#borough, #selection_method
{
    border-left: thin solid #cc6600;
}

.result_wrapper {
	border: 1px solid gray;
	padding: 5pt;
	margin-top: 10px;
	width: auto;
	display: block;
    /*overflow-y:scroll;*/
    border-color:#ff9900;
}
.result_name 
{
    cursor: pointer;
}

.result_url 
{
    color: #0099ff;
}
.collapsable 
{
    border:solid;
    z-index:2;
}

.search_results 
{
    z-index:1;
    margin-left:25%;
    margin-right:25%;
}

.search_results, .collapsable 
{
    background-color:black;
    opacity:0.9;
    position:fixed;
}