body
{
	background-color: black;
	color: white;
}

#map 
{
    position:relative;
    z-index:0;
    height: 100%;
    width: 100%;

}
.btnGo
{
    /*
    clear:both;
    background-color:blue;
    height:64px;
    width:64px;
    border-radius:100%;
    */

    text-align:right;
    font-size:1em;
    margin-top:2em;
}
.search_criteria p 
{
    margin:.75em 0 .1em 0;
    font-weight:bold;
    font-size:1.25em;
    font-family:sans-serif;
}

.search_criteria select
{
    width:50%;
    font-size:1em;
}

.image 
{
    /*
    background-color:yellow;
    height:32px;
    width:32px;
    border-radius:100%;
    color:orange;
    */
    
    height:2em;
    width:2em;
}

.search_criteria em 
{
    font-size:70%;
}

.nycITT div, div.nycDOE
{
    float:left;
    width:24%;
    text-align:center;
    padding:1em 0;
    overflow:hidden;
}

.nycITT p, nycDOE p
{
margin:.75em 0 .1em 0;
 font-weight:bold;
 font-size:1.25em;
font-family:sans-serif;
 padding-bottom:5%;
}

div.nycITT {
    clear:both;
    
    width:100%;
    padding-bottom:5%;
}

#selection_method
{
    border-right: thin solid #cc6600;
    border-left: thin solid #cc6600;
}

div.nycDOE 
{
    border-left: thin solid #cc6600;
}

.result_wrapper {
	border: 1px solid gray;
	padding: 5pt;
	margin-top: 10px;
	width: auto;
	display: block;
    /*overflow-y:scroll;*/
    border-color:#ff9900;
    font-family:sans-serif;
}
.result_name 
{
    cursor: pointer;
}
.result_url 
{
    margin-top:2em;
}

.print_wrapper .result_url {
    margin-top:15%;
}

.result_url a:link
{
    color: #ffe78a;
}
.result_url a:visited
{
    color: #ff8a00;
}
.result_url a:hover
{
    color: #ffff92;
}
.result_url a:active
{
    color: #ffff9a;
}

.collapsable 
{
    border:solid;
    z-index:2;
}

.search_results 
{
    z-index:1;
}

.search_results, .collapsable, .more_info
{
    background-color:black;
    position:fixed;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.8 opacity */
    background: rgba(0, 0, 0, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/*print_templ*/
div.print_wrapper {
margin:5% 0 12% 0;
}

#detailschool {
font-size:2.75em;
color:#0066cc;
text-align:left;
padding:10px;
font-family:sans-serif;
clear:both;

}


#overall {
width:100%;
text-align:center;
margin:0 1%;
width: 1em 40%;
padding:15px; 
font-size:2em;

}
#college_readiness {
width:100%;
margin:10% 1%;
width: 1em 40%;
 font-size:2em;
 width:100%;
text-align:center;
margin:0 1%;


}
div.detail-3col {
width:100%;
clear:both;
margin:10% 0;
padding:10px 0;

}

div.detail_left_column {
font-family:serif;
font-size:1.25em;
float:left;
width:32%;
text-align:center;
border-right:thin solid #cc6600;
overflow:hidden;

}
div.detail_right_column {
font-family:serif;
font-size:1.25em;
float:left;
width:32%;
text-align:center;
border-right:thin solid #cc6600;
overflow:hidden;

}
div.detail_middle_column 
{
font-family:serif;
font-size:1.25em;
float:left;
width:32%;
text-align:center;
border-right:thin solid #cc6600;
overflow:hidden;

}
#urls 
{
clear:both;
text-align:center;
font-style:italic;
margin-top:5%;

}

.xplode 
{
    text-shadow: 0px 1px 0px rgba(255,255,255,.5);
    cursor: pointer;
    border:groove;
    float:right;
}

.more_info 
{
    z-index:2;
    left:0;
    top:0;
    width:80%;
    height:80%;
}